body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.section1{
    display: flex;
    background-repeat: no-repeat;
}
.firstdiv{
    width: 50%;
    margin: 30px 50px;
    padding: 20px;
}
.firstdiv img{
    width: 60%;
    
}
.firsthead{
    border-left: 5px solid crimson; 
    padding-left: 5px;
    font-size: 50px;
}
.colorhead{
    color: orange;
}
.butn1{
    background-color: crimson;
    padding: 15px 50px;
    border: 2px solid crimson;
    border-radius: 5px;
    color: white;
}
.head2{
    text-align: center;
    font-size: 50px;
}
.section2div{
    display: flex;
    margin: 20px 100px;
}

.div2{
    background-color: rgb(198, 243, 247);
    width: 350px;
    height: 450px;
    margin-right: 50px;
    border-radius: 20px;
    padding: 25px;
}
.div2 img{
    width: 60%;
}

.div3{
    background-color: rgb(253, 218, 250);
    width: 350px;
    height: 450px;
    margin-right: 50px;
    border-radius: 20px;
    padding: 25px;
}
.div3 img{
    width: 60%;
}
.div4{
    background-color: rgb(250, 237, 220);
    width: 350px;
    height: 450px;
    border-radius: 20px;
    padding: 25px;
}
.div4 img{
    width: 60%;
}
.section3{
    display: flex;
    margin: 50px 20px 100px 100px;
}
.divsec3{
    
}
.divsec3 img{
    width: 450px;
    margin-right: 90px;
}
#shape{
   height: 200px;
   margin-top: 100px;
}
#divsec4{
    margin-top: 80px;
}
.sec3head{
    font-size: 40px;
}
.sec3btn{
    background-color: crimson;
    padding: 15px 40px;
    border: 2px solid crimson;
    border-radius: 4px;
    color: white;
}
.sec4div{
    display: flex;
}
.section4{
    margin-left: 160px;
}
.div4sec{
    width: 50%;
    margin-top: 150px;
}
.div4sec img{
    width: 650px;
    height: 600px;
}
#sec4div2{
    margin-top: 40px;
}
.sec4head{
    font-size: 40px;
}
.sec4btn{
    background-color: crimson;
    padding: 20px 50px;
    border: 2px solid crimson;
    border-radius: 4px;
    color: white;
}
.sec5head{
    text-align: center;
    font-size: 50px;
}
.sec5clr{
    color: orange;
}
.section5{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.sec5div6{
    width: 600px;
}
.sec5div6 img{
    width: 400px;
}
#sec6id{
    margin-top: 100px;
}
.sec6clr{
    color: orange;
}
.sec6head{
    font-size: 40px;
}
.sec6btn{
    background-color: crimson;
    padding: 20px 50px;
    border: 2px solid crimson;
    border-radius: 4px;
    color: white;
}
.footersec{
    background-color: black;
    height: 150px;
    color: white;
    text-align: center;
}
.head6{
    font-family: cursive;
    font-size: 2rem;
    padding-top: 20px;
}
.footclr{
    color: tomato;
}
